body{
  background-color: #dddddd;
  color: white;

}
.terminal{
    font-family: monospace;
    font-size: 15px;
    overflow-wrap: break-word;
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    overflow-y: scroll;
    background-color: #2C001E;
    position:absolute;
    top: 0; bottom: 0; right: 6%;
    margin: auto;
    width: 75vw; height: 75vh;
    border: 1px solid black;
    border-radius: 5px;
}

.blink{
  background-color: white;
  color: #2C001E;
}

span.green{
  color: #00FF00;
}
span.blue{
  color: #87ceeb;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2C001E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EB6536;
}

.sidebar{
  overflow-wrap: break-word;
  height: 100%;
  width: 12%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: #333333;
}

.sidebar button{
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border-right: 1px solid black;
}

.sidebar .header-btn{
  cursor: pointer;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}
.sidebar .header-btn:hover{
  background-color: #E95420;
  color: #E2E0DD;
}
.sidebar .header-btn-none{
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}

.sidebar .inner-btn{
  border-bottom: 1px solid black;
  cursor: pointer;
  background-color: white;
  color: black;
}
.sidebar .inner-btn:hover{
  background-color: #2C001E;
  color: #AEA79F;
}

.sidebar .inner-btn-none{
  background-color: #C1C1C1;
  color: black;
  font-weight: bold;
}
