body{
  margin: auto;
  width: 50%;
  padding-top: 25px;
  background-color: #dddddd;

  font-family: Ubuntu Mono;
  color: white;
}
.terminal{
    height: 450px;
    overflow-y: scroll;
    background-color: #2C001E;
    border: 2px solid #808080;
}


.line{
  padding: 10px;
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  word-wrap : break-word;
}

.blink{
  background-color: white;
  color: #2C001E;
}



/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2C001E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E95420;
}
