body{
  background-color: #dddddd;
  font-family: Ubuntu Mono;
  color: white;

}
.terminal{
    overflow-wrap: break-word;
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    overflow-y: scroll;
    background-color: #2C001E;
    position:absolute;
    top: 0; bottom: 0; right: 5%;
    margin: auto;
    width: 75vw; height: 75vh;
    border: 1px solid black;
    border-radius: 5px;
}

.blink{
  background-color: white;
  color: #2C001E;
}

span.green{
  color: #00FF00;
}
span.blue{
  color: #87ceeb;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2C001E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EB6536;
}

.sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: #333333;
}

.sidebar button{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
}
.sidebar button:focus {
  outline:0;
}

.main-btn{
  background-color: #EB6536;
  height: 9%;
  color: black;
}
.sub-btn{
  background-color: #F08763;
  height: 7%;
  color: black;
  float: right;
}
.sub-sub-btn{
  background-color: #F4AA90;
  height: 5%;
  color: black;
  float: right;
  cursor: pointer;
}
